/* Style for the whole document */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Castoro', serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* Style for the header */

.video-images {
  background: url(images/night.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.video-images-2 {
  text-align: center;
  width: 100%;
  height: 250px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: calc(6px + 0.5vw);
}

.ease {
  transition: .7s ease-in-out;
}

.margin-right-2 {
  margin-right: 65px;
}

ul.social-icons {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

li.flick {
  list-style-type: none;
  transition: .5s ease-in-out;
}

li.flick:hover {
  transform: translateY(-7px);
}

h1.welcome {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1vw;
  text-align: center;
  width: 38ch;
  animation: typing 3s steps(40, end);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Castoro', serif;
}

@keyframes typing {
  0% {
    width: 0;
  }
}

.ease, span {
  color: #fff;
  padding: 5px;
  letter-spacing: .1vw;
  text-decoration: none;
  text-align: center;
}

.ease:hover {
  color: blue;
}

a {
  color: blue;
}

.color-top {
  color:#fff;
  padding: 1em;
}

.pic-ideas {
  border: 1px solid grey;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2.0);
}

.for-iframe {
  text-align: center;
  width: 100%;
  height: 250px;
}

/* Style for the sections */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  border-top: 3px solid #002952;
  padding: 20px 20px;
  background-image: url(images/night_2.png);
  width: 100vw;
  background-size: cover;
  color: #fff;
  color: rgb(26, 28, 141);
}

.section-content {
  max-width: 500px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: justify;
}

.card {
  margin: 20px;
  padding: 20px 40px;
  max-width: 500px;
  text-align: justify;
  background: rgb(227, 234, 241);
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.card-1 {
  padding-top: 60px;
}

.card-2 {
  padding-top: 45px;
}

.headlines {
  font-weight: bold;
}

.margin-right-3 {
  text-align: center;
  justify-content: center;
}

.margin-right-4 {
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}

.spacing-headlines {
  letter-spacing: 0.2vw;
}

ol.project-links {
  text-align: justify;
}


/* Style for the footer */

footer {
  text-align: center;
  color: #000;
  letter-spacing: .1vw;
}


/* Style for media queries */

@media all and (max-width: 900px) {
  .card-1 {
    padding-top: 0px;
  }
  
  .card-2 {
    padding-top: 0px;
  }

  .pic-ideas {
    height: 200px;
    width: 100%;
  }
  
  .card {
    margin: 10px;
    padding: 15px;
  }
  
  .margin-right-4 {
    padding-bottom: 0px;
  }
  
  
}
